<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center">
            <h1 class="mb-3">Talleres JJ</h1>
            <h3 class="mb-5">
                <p>Plan, manage and keep track of all the tasks of your workshop</p>
            </h3>
            <a href="/login" class="btn btn-primary" style="font-size: 20px;">Sign In</a>
        </div>
    </header>
</main>